[bumpversion]
current_version = 1.0.16
commit = False
tag = False
allow-dirty = True

[bumpversion:part:release]
optional_value = prod
first_value = dev
values = 
	dev
	prod

[bumpversion:part:build]

[bumpversion:file:./setup.py]

[bumpversion:file:./file_typer/__main__.py]
